In [1]:
import pandas as pd
import numpy as np

In [17]:
adidas = pd.read_csv('adidas.csv')
adidas.columns
cols = ['url', 'name','sku', 
        'currency', 'availability','color','category','source',
        'source_website','breadcrumbs','description',
        'brand','images','country','language'
       ]

In [18]:
cols_validas = []
cols_many_levels = []
cols_one_level = []


umbral = .98
size_df = adidas.shape[0]

for c_ in cols:
    nivels = adidas.loc[:,c_].drop_duplicates().shape[0]
    
    if (nivels/size_df)>=umbral:
        cols_many_levels.append(c_)
    elif nivels == 1:
        cols_one_level.append(c_)
    else:
        cols_validas.append(c_)

In [19]:
levels = adidas.groupby( ["color"],as_index=False).agg({"sku": ["count"] })
levels.columns = levels.columns.droplevel(1)
levels

         color  sku
0        Beige    6
1        Black  187
2         Blue  104
3        Brown    1
4     Burgundy    9
5         Gold    3
6        Green   59
7         Grey   81
8        Multi    4
9   Multicolor   20
10      Orange   11
11        Pink   62
12      Purple   31
13         Red   25
14      Silver    1
15   Turquoise    2
16       White  222
17      Yellow   17

In [13]:
levels["Porcentage"] = levels["sku"]/adidas.shape[0]
levels.sort_values(["Porcentage"], ascending=False)

         color  sku  Porcentage
16       White  222    0.262722
1        Black  187    0.221302
2         Blue  104    0.123077
7         Grey   81    0.095858
11        Pink   62    0.073373
6        Green   59    0.069822
12      Purple   31    0.036686
13         Red   25    0.029586
9   Multicolor   20    0.023669
17      Yellow   17    0.020118
10      Orange   11    0.013018
4     Burgundy    9    0.010651
0        Beige    6    0.007101
8        Multi    4    0.004734
5         Gold    3    0.003550
15   Turquoise    2    0.002367
14      Silver    1    0.001183
3        Brown    1    0.001183

In [14]:
levels["color_t"] = "Others"
levels.apply(lambda r: r if r['Porcentage']>0.9 else r['Porcentage'], axis=1)

0     0.007101
1     0.221302
2     0.123077
3     0.001183
4     0.010651
5     0.003550
6     0.069822
7     0.095858
8     0.004734
9     0.023669
10    0.013018
11    0.073373
12    0.036686
13    0.029586
14    0.001183
15    0.002367
16    0.262722
17    0.020118
dtype: float64

In [15]:
adidas = adidas.merge(levels, on=["color"], how="inner")

In [16]:
levels.to_csv("color_categories.csv", index_label=False)